{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-product-grid.css' | asset_url | stylesheet_tag }}

<link rel="preload" href="{{ 'component-rte.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div id="searchspring-content"></div>

{% render 'searchspring-script' %}

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "collection-grid-section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "Products per page"
    },
    {
      "type": "header",
      "content": "Product Card"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "square",
          "label": "Square"
        }
      ],
      "default": "adapt",
      "label": "Image ratio"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "Show second image on hover"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "Add image padding"
    },
    {
      "type": "select",
      "id": "image_hover",
      "options": [
        {
          "value": "easein",
          "label": "Ease in"
        },
        {
          "value": "noeffect",
          "label": "No effect"
        }
      ],
      "default": "noeffect",
      "label": "Image hover"
    },
    {
      "type": "select",
      "id": "product_grid_animation",
      "options":[
        {
          "value": "fadeIn",
          "label": "Fade In"
        },
        {
          "value": "fadeInUp",
          "label": "Fade In Up"
        },
        {
          "value": "NoEffect",
          "label": "No Effect"
        }
      ],
      "default": "NoEffect",
      "label": "Select Animation"
    },
    {
      "type": "text",
      "id": "product_grid_time",
      "default":"5s",
      "label": "Animation Time",
      "info":"Must be a number and include 's' at the end. (Example, 0.2s)"
    },
    {
      "type": "checkbox",
      "id": "show_image_outline",
      "default": true,
      "label": "Show image border"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "Show product rating",
      "info": "To display a rating, add a product rating app. [Learn more](https:\/\/help.shopify.com\/manual\/online-store\/themes\/os20\/themes-by-shopify\/dawn\/page-types#search-results-show-product-rating)"
    },
    {
      "type": "checkbox",
      "id": "show_product_labels",
      "default": true,
      "label": "Display product labels"
    },
    {
      "type": "header",
      "content": "Filtering and sorting"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "Enable filtering",
      "info": "[Customize filters](\/admin\/menus)"
    },
    {
      "type": "text",
      "id": "custom_swatch_name",
      "label": "List filters using custom swatches",
      "info": "Add each filter name that will use custom color swatches, e.g., Color. Multiple filters can use swatches, e.g., `Color, Material`. If the swatches appear to be white or transparent, ensure that an associated image has been uploaded to the Files section of the admin with the naming convention: filter_filterName_filterSwatch.png (filter_color_red.png)."
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "Enable sorting"
    },
    {
      "type": "checkbox",
      "id": "collapse_on_larger_devices",
      "default": false,
      "label": "Collapse on desktop"
    }
  ]
}
{% endschema %}
