<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-features-list.css' | asset_url }}" media="print" onload="this.media='all'">

{% capture margin_size %}
  {% if section.settings.display_margins %}
    {{ settings.margin_size }}
  {% else %}
    0
  {% endif %}
{% endcapture %}

{% capture mobile_margin_size %}
  {% if section.settings.display_margins %}
    {{ settings.mobile_margin_size }}
  {% else %}
    0
  {% endif %}
{% endcapture %}

{% assign section_selector = '#shopify-section-' | append: section.id %}
{% style %}
{{ section_selector }} {
  margin-top: {{ margin_size | divided_by: 10 }}rem;
  margin-bottom: {{ margin_size | divided_by: 10 }}rem;
}
@media screen and (max-width: 750px) {
  {{ section_selector }} {
    margin-top: {{ mobile_margin_size | divided_by: 10 }}rem;
    margin-bottom: {{ mobile_margin_size | divided_by: 10 }}rem;
  }
}
{% endstyle %}

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-features-list.css' | asset_url | stylesheet_tag }}</noscript>

<div id="features-list-{{section.id}}" class="features-list center {% if settings.scroll_appear == "fadein" %} fadeIn {% endif %}" style="background-color: {{ section.settings.background_color }};">
  <div class="page-width">
    {%- if section.settings.heading != blank -%}
    <header class="animated {{section.settings.features_head_animation}}">
    {% style %}
      #features-list-{{section.id}} header.animated.active {
        animation-duration: {{section.settings.features_head_animation_time}};
        animation-fill-mode: both;
        -webkit-animation-duration: {{section.settings.features_head_animation_time}};
        -webkit-animation-fill-mode: both;
      }
    {% endstyle %}
      {% if section.settings.heading != blank %}
        <h2 class="features-list__heading {{ section.settings.heading_size }}"
          {% if section.settings.heading_color != 'rgba(0,0,0,0)' %} style="color: {{ section.settings.heading_color }};" {% endif %}>
            {{ section.settings.heading | escape }}
        </h2>

        {% style %}
          {% if section.settings.heading_color != 'rgba(0,0,0,0)' %}
            {{ section_selector }} .features-list__heading {
              color: {{ section.settings.heading_color }};
            }
          {% endif %}
        {% endstyle %}
      {% endif %}
    </header>
    {%- endif -%}

    <div class="features-list__blocks grid grid--2-col grid--2-col-tablet{% if section.blocks.size == 5 or section.blocks.size == 6 %} grid--3-col-desktop{% else %} grid--4-col-desktop{% endif %}">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'feature' -%}
            {% assign img = block.settings.image %}
            {% assign img_width = img.width | at_most: 160 %}
            {% assign img_height = img.height | at_most: 160 %}
            {% style %}
              #features-list-{{block.id}}.animated.active {
                animation-duration: {{block.settings.features_list_animation_time}};
                animation-fill-mode: both;
                -webkit-animation-duration: {{block.settings.features_list_animation_time}};
                -webkit-animation-fill-mode: both;
              }
            {% endstyle %}

            <div id="features-list-{{block.id}}" class="features-list__feature grid__item animated {{block.settings.features_list_animation}}">
              <div class="media media--transparent{% if block.settings.image_hover == 'easein' %} hoverAnimation {% endif %}">
                {% render 'image', image: block.settings.image, class: 'features-list__feature-img', image_max_height: img_height, image_desired_width: img_width, alt: image.alt %}
              </div>

              <div class="features-list__content">
                {% if block.settings.heading != blank %}
                  <h4 class="features-list__feature-heading rte"
                    {% if section.settings.feature_heading_color != 'rgba(0,0,0,0)' %} style="color: {{ section.settings.feature_heading_color }};" {% endif %}>
                    {{ block.settings.heading }}
                  </h4>

                  {% if section.settings.feature_heading_color != 'rgba(0,0,0,0)' %}
                    {% style %}
                      {{ section_selector }} .features-list__feature-heading {
                        color: {{ section.settings.feature_heading_color }};
                      }
                    {% endstyle %}
                  {% endif %}
                {% endif %}

                {% if block.settings.description != blank %}
                  <div class="features-list__feature-text rte{% if block.settings.heading == blank %}features-list__feature-text--margin{% endif %}"
                    {% if section.settings.feature_text_color != 'rgba(0,0,0,0)' %} style="color: {{ section.settings.feature_text_color }};" {% endif %} {{ block.shopify_attributes }}>
                    {{ block.settings.description }}
                  </div>


                  {% if section.settings.feature_text_color != 'rgba(0,0,0,0)' %}
                    {% style %}
                      {{ section_selector }} .features-list__feature-text p {
                        color: {{ section.settings.feature_text_color }};
                      }
                    {% endstyle %}
                  {% endif %}
                {% endif %}
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% style %}
  @media screen and (max-width: 750px) {
    {{ section_selector }} .features-list {
      padding: {{ section.settings.mobile_top_padding }}px 0 {{ section.settings.mobile_bottom_padding }}px;
    {% if section.settings.background_mobile %}
      background: url({{ section.settings.background_mobile | image_url }});
      background-size:cover;
      background-position: center center;
    {% endif %}
    }
  }

  @media screen and (min-width: 749px) {
    {{ section_selector }} .features-list {
      padding: {{ section.settings.desktop_top_padding }}px 0 {{ section.settings.desktop_bottom_padding }}px;
    {% if section.settings.background_desktop %}
      background: url({{ section.settings.background_desktop | image_url }});
      background-size:cover;
      background-position: center center;
    {% endif %}
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Features list",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Heading options",
      "info": "Optional"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Headline"
    },

    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "headline headline-large",
          "label": "Headline large"
        },
        {
          "value": "headline headline-medium",
          "label": "Headline medium"
        },
        {
          "value": "headline headline-small",
          "label": "Headline small"
        },
        {
          "value": "headline-alt headline-alt-large",
          "label": "Headline large (alt)"
        },
        {
          "value": "headline-alt headline-alt-medium",
          "label": "Headline medium (alt)"
        },
        {
          "value": "headline-alt headline-alt-small",
          "label": "Headline small (alt)"
        }
      ],
      "default": "headline headline-large",
      "label": "Headline size"
    },
    {
      "type": "select",
      "id": "features_head_animation",
      "options":[
        {
          "value": "fadeIn",
          "label": "Fade In"
        },
        {
          "value": "fadeInUp",
          "label": "Fade In Up"
        },
        {
          "value": "NoEffect",
          "label": "No Effect"
        }
      ],
      "default": "NoEffect",
      "label": "Select Headline Animation"
    },
    {
      "type": "text",
      "id": "features_head_animation_time",
      "default":"0.2s",
      "label": "Select Headline Animation Time",
      "info": "Must be a number and include 's' at the end. (Example, 0.2s)"
    },
    {
      "type": "image_picker",
      "id": "background_desktop",
      "label": "Desktop image",
      "info": "An aspect ratio of 16:9 is recommended."
    },
    {
      "type": "image_picker",
      "id": "background_mobile",
      "label": "Mobile image",
      "info": "An aspect ratio of 1:3 is recommended."
    },
    {
      "type": "header",
      "content": "Section colors"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color"
    },
    {
      "type": "color",
      "id": "feature_heading_color",
      "label": "Feature heading color"
    },
    {
      "type": "color",
      "id": "feature_text_color",
      "label": "Feature text color"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "number",
      "id": "desktop_top_padding",
      "label": "Desktop top padding (px)",
      "default": 60
    },
    {
      "type": "number",
      "id": "desktop_bottom_padding",
      "label": "Desktop bottom padding (px)",
      "default": 60
    },
    {
      "type": "number",
      "id": "mobile_top_padding",
      "label": "Mobile top padding (px)",
      "default": 45
    },
    {
      "type": "number",
      "id": "mobile_bottom_padding",
      "label": "Mobile bottom padding (px)",
      "default": 45
    },
    {
      "type": "header",
      "content": "Margins",
      "info": "Apply global theme layout margins on the top and bottom"
    },
    {
      "type": "checkbox",
      "id": "display_margins",
      "label": "Display margins",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "limit": 8,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon"
        },
        {
          "type": "select",
          "id": "image_hover",
          "options": [
            {
              "value": "easein",
              "label": "Ease in"
            },
            {
              "value": "noeffect",
              "label": "No effect"
            }
          ],
          "default": "noeffect",
          "label": "Image hover"
        },
        {
          "type": "text",
          "id": "heading",
          "default": "Feature",
          "label": "Headline"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Share information about a feature with your customers.</p>",
          "info": "Limit text to 2 lines."
        },
        {
          "type": "select",
          "id": "features_list_animation",
          "options":[
            {
              "value": "fadeIn",
              "label": "Fade In"
            },
            {
              "value": "fadeInUp",
              "label": "Fade In Up"
            },
            {
              "value": "NoEffect",
              "label": "No Effect"
            }
          ],
          "default": "NoEffect",
          "label": "Select Features List Animation"
        },
        {
          "type": "text",
          "id": "features_list_animation_time",
          "default": "0.2s",
          "label": "Select Headline Animation Time",
          "info": "Must be a number and include 's' at the end. (Example, 0.2s)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Features list"
    }
  ]
}
{% endschema %}
