<form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form medium-hide small-hide">
  <div class="field">
    <input class="search__input field__input"
      id="Search-In-Modal"
      type="search"
      name="q"
      value=""
      placeholder="{{ 'general.search.search' | t }}"
      aria-label="{{ 'general.search.search' | t }}"
      {%- if settings.predictive_search_enabled -%}
        role="combobox"
        aria-expanded="false"
        aria-owns="predictive-search-results-list"
        aria-controls="predictive-search-results-list"
        aria-haspopup="listbox"
        aria-autocomplete="list"
        autocorrect="off"
        autocomplete="off"
        autocapitalize="off"
        spellcheck="false"
      {%- endif -%}
    >
    <input type="hidden" name="options[prefix]" value="last">
    <button type="reset" class="search__input-reset search__input-reset--desktop" aria-label="{{ 'general.search.reset' | t }}">{{ 'general.search.reset' | t }}</button>
    <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}" id="Search-In-Modal-Label">
      <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
        <use href="#icon-search">
      </svg>
    </button>
  </div>

  {%- if settings.predictive_search_enabled -%}
    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
      <div class="predictive-search__loading-state">
        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
        </svg>
      </div>
    </div>

    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
  {%- endif -%}
</form>